{% extends 'base.html' %}
{% load static %}

{% block title%}
    <title>Mentee</title>
{% endblock %}

{%block content%}
    <!-- Section -->
    <div class = "container-fluid">
        <div class = "section">
            <div class = "row konten">
                <div class = "col-md-12 text-center">
                    <h4>Our Mentee</h4>
                </div>
        
            {%for data in mentees%}
            <div class = "row konten">
                <div class = "col-md-4">
                    <img class = "mentee " src="{{ data.foto_mentee.url }}" alt=""/>
                </div>
                <div class = "col-md-8 deskripsi">
                    <h5>{{data.nama_mentee}}</h5>
                    <p>"{{data.testimoni}}"</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
{%endblock%}
            